/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Tabs Styles (Desktop) */
  .tabs {
    display: flex;
    flex-direction: column;
  }
  
  .tab-header {
    display: flex;
    border-bottom: 1px solid #64748b;
  }
  
  .tab-header button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #cbd5e1;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 8px 8px 0 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .tab-header button.active {
    background: #64748b;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #64748b;
    border-top: none;
    background: #e2e8f0;
  }
  
  /* Accordion Styles (Mobile) */
  .accordion {
    display: none;
  }
  
  .accordion-item {
    border-bottom: 1px solid #64748b;
  }
  
  .accordion-header {
    padding: 10px;
    background: #cbd5e1;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-header.active {
    background: #64748b;
  }
  
  .accordion-content {
    padding: 10px;
    background: #e2e8f0;
    display: none;
  }

  /* Icon Styling*/
  .accordion-header .toggle-icon{
    background-image: url(/images/down-arrow.png);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
  }

  .accordion-header.active .toggle-icon{
    background-image: url(/images/up-arrow.png);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .tabs {
      display: none;
    }
  
    .accordion {
      display: block;
    }
  }